<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cart.mapper.ProductPictureMapper">
  <resultMap id="BaseResultMap" type="com.example.cart.model.ProductPicture">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_picture" jdbcType="CHAR" property="productPicture" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.cart.model.ProductPicture">
    <result column="intro" jdbcType="LONGVARCHAR" property="intro" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_picture
  </sql>
  <sql id="Blob_Column_List">
    intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product_picture
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.cart.model.ProductPicture" useGeneratedKeys="true">
    insert into product_picture (product_id, product_picture, intro
      )
    values (#{productId,jdbcType=INTEGER}, #{productPicture,jdbcType=CHAR}, #{intro,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.cart.model.ProductPicture" useGeneratedKeys="true">
    insert into product_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productPicture != null">
        product_picture,
      </if>
      <if test="intro != null">
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPicture != null">
        #{productPicture,jdbcType=CHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.cart.model.ProductPicture">
    update product_picture
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPicture != null">
        product_picture = #{productPicture,jdbcType=CHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.cart.model.ProductPicture">
    update product_picture
    set product_id = #{productId,jdbcType=INTEGER},
      product_picture = #{productPicture,jdbcType=CHAR},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.cart.model.ProductPicture">
    update product_picture
    set product_id = #{productId,jdbcType=INTEGER},
      product_picture = #{productPicture,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>